*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body{
    margin: 50px auto;
    display: flex;
    justify-content: center;
    background: hsl(148, 38%, 91%);
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 8px;
}
