*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    background: hsl(148, 38%, 91%);
}

.contact-form {
   background-color: white;
   padding: 1rem;
   border-radius: .5rem;
   /* width: 350px; */
   margin: .75rem;
}

.contact-form h1{
    margin-bottom: 1rem;
    color: green;

 }

 .name label{
    display: block;
    color: gray;
 }

 .form-item input[type='text'], input[type='email']{
    width: 100%;
 }

 .form-item {
   width: 100%;
   margin-bottom: 1rem;
 }


 .name {
    display: flex;
    gap: 10px;
 }

 .radio-inputs {
    border: 1px solid green;
    padding: .3rem .5rem;
    gap: 10px;
    border-radius: .3rem; 
    display: flex;
    margin-top: .5rem;
 }
 
 .radios {
   display: flex;
   gap: 10px;
 }